fieldset#identite, fieldset#identite legend{
  background: #2574A9;
}
fieldset#Adresse, fieldset#Adresse legend{
  background: #9A12B3;
}
fieldset#Paiement, fieldset#Paiement legend{
  background: #DB0A5B;
}
input#coche{
  margin-left: 45px;
}
input {
  border: 1px solid grey;
  margin-top: 2px;
}
textarea:focus{
  background-color: white;
}
