fieldset#identite, fieldset#identite legend{
  background: #2574A9;
}
fieldset#Adresse, fieldset#Adresse legend{
  background: #9A12B3;
}
fieldset#Paiement, fieldset#Paiement legend{
  background: #DB0A5B;
}
ul{
  list-style: none;
}
